.Main {
  /* height: calc(100vh - 100px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  justify-content: center;
}

.Main .tiles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 5px;
}

.Main .game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.Main .card {
  height: (100vh - 100px);
  display: flex;
}

.Main .color-tile-names {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

.Main .color-tile-names li {
  text-align: center;
  width: 120px;
}
